body {
  color: green;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: url(https://thumb1.shutterstock.com/display_pic_with_logo/321865/375851164/stock-vector-retro-vintage-s-or-s-fashion-style-abstract-seamless-pattern-background-good-for-textile-375851164.jpg)
}

.marquee {
  width: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.succ-bgvideo {
  display: none;
}

.unclickable {
  position: absolute;
}

.full-table {
  width: 100%;
}

.succ {
  content: "succ";
}
